pre {
	font-size: 20px !important;
}

.zoom-in {
	transform: scale(1.8);
	font-smooth: none;
	overflow: hidden;
}

#header-left {
	position: absolute;
	top: 1em;
	left: 1em;
}

#header-right {
	position: absolute;
	top: 0;
	right: 0;
}

#footer-left {
	position: absolute;
	bottom: 2em;
	left: 1em;
	font-size: 0.75em;
}

.focus {
	color: red;
}

#circle {
	position: absolute;
	top: 180px;
	left: 690px;
	height: 50px;
	width: 50px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	/*background: red;*/
	border: 5px solid red;
}


.strikethrough {
	text-decoration: line-through;
}

table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.noshadow {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}